
<!-- Begin ReCharge code -->
<p id="rc_link_container">
    <a href="/tools/recurring/login">Manage Subscriptions</a>
</p>
<!-- End ReCharge code -->

<div class="page__contact">
  {% section 'account-featured-box' %}
  {% section 'main-account' %}
  {% section 'account-featured-box-bottom' %}
</div>