{% if section.settings.blog.articles != blank %}
  <section class="blog mb-25 mb-lg-45">
    <div class="container">
      {% if section.settings.heading != blank %}
        <div class="blog-post-title mb-30">
          <h2 class="title text-center">{{ section.settings.heading }}</h2>
        </div>
      {% endif %}
      <div class="pure-g gutter-xl-45">
        {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
          {%- render 'article-card', article: article, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    }
  ],
  "presets": [
    {
        "name": "t:sections.featured-blog.name"
    }
  ]
}
{% endschema %}
