<div class="featureboxes brd-btm-light py-10 py-md-15"><!-- featurebox -->
    <div class="featureboxes__container container">
        <div class="featurebox__slider arrow-md-none flickity--watch-css" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false , "prevNextButtons": true, "draggable": false, "watchCSS": true}'> 
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    {% if block.settings.title != blank and block.settings.icon_image != blank %}
                        <div class="pure-u-1 pure-u-md-1-4 featurebox featurebox--style-2 text-grey">
                            {% if block.settings.icon_image != blank %}
                                <div class="featurebox__icon">
                                    <span class="material-icons"><img src="{{ block.settings.icon_image | img_url: 'master' }}" alt="" /></span>
                                </div>
                            {% endif %}
                            <div class="featurebox__info">
                                <h4 class="text-1 fw-400 mb-0">{{block.settings.title}}</h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="pure-u-1 pure-u-md-1-4 featurebox featurebox--style-2 text-grey">
                    <div class="featurebox__icon">
                        <span class="material-icons">local_shipping</span>
                    </div>
                    <div class="featurebox__info">
                        <h4 class="text-1 fw-400 mb-0">Describe feature or benefit</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-4 featurebox featurebox--style-2 text-grey">
                    <div class="featurebox__icon">
                        <span class="material-icons">refresh</span>
                    </div>
                    <div class="featurebox__info">
                        <h4 class="text-1 fw-400 mb-0">Describe feature or benefit</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-4 featurebox featurebox--style-2 text-grey">
                    <div class="featurebox__icon">
                        <span class="material-icons">star</span>
                    </div>
                    <div class="featurebox__info">
                        <h4 class="text-1 fw-400 mb-0">Describe feature or benefit</h4>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-4 featurebox featurebox--style-2 text-grey">
                    <div class="featurebox__icon">
                        <span class="material-icons">comment</span>
                    </div>
                    <div class="featurebox__info">
                        <h4 class="text-1 fw-400 mb-0">Describe feature or benefit</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div><!-- ./featurebox -->

{% schema %}
{
  "name": "Gift card feature box",
  "max_blocks": 4,
  "settings": [
  ],
  "blocks": [
    {
      "type": "feature-box",
      "name": "Feature box",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}
