<section class="wysiwyg pt-25 pb-35 py-md-55">
  <div class="container">
      <div class="pure-g justify-content-center">
          <div class="pure-u-1 pure-u-md-19-24">
              <h1 style="text-align: center;">{{page.title}}</h1>
              {% if page.content != blank %}
                {{page.content}}
              {% endif %}
          </div>
      </div>
  </div>
</section>
<hr>
{% schema %}
{
  "name": "t:sections.main-page.name",
  "settings": [
  ]
}
{% endschema %}
