<div class="page__gift-card">
  {% section 'gift-card-featured-box'%}
  {% section 'gift-card-main'%}
  {% section 'gift-card-featured-in'%}
  {% section 'gift-card-process'%}
  {% section 'gift-card-faqs'%}
  {% section 'gift-card-collection'%}
  {% section 'gift-card-featured-box-bottom'%}
</div>